.App {
  text-align: center;
}

.App-title {
  margin-top: 2em;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableWidth {
  width: 32vw;
  margin-top: 1.5em;
  border: 5px solid rgba(55, 243, 65, 0.705);
}

.flexTable {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.blueText {
  color: rgb(51, 54, 204);
}
.redText {
  color: red;
}
.blackText {
  color: black;
}
